<div nz-row nzType="flex" nzJustify="center">
  <form nz-form [nzLayout]="'inline'" [formGroup]="createForm" (ngSubmit)="CreateSession()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="userName">User Name</nz-form-label>
      <nz-form-control>
        <input formControlName="userName" nz-input id="userName"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Create</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
