<div nz-row nzType="flex" nzJustify="center" *ngIf="!vote">
  <form nz-form [nzLayout]="'inline'" [formGroup]="joinForm" (ngSubmit)="JoinSession()">
    <nz-form-item>
      <nz-form-label nzRequired nzFor="userName">User Name</nz-form-label>
      <nz-form-control>
        <input formControlName="userName" nz-input id="userName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary">Join</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<div *ngIf="CurrentClient">
  <div nz-row>
    <h4 nz-title nzType="secondary">Copy and Share the <a [routerLink]="['/vote/', vote.SessionId]">LINK</a> !</h4>
  </div>

  <div nz-row>
    <h3 nz-title>{{CurrentClient.UserName}}</h3>
  </div>

  <nz-divider></nz-divider>

  <div nz-row>
    <button nz-button nz-col nzSpan="2" nzType="defalut">Clear Votes</button>
    <button nz-button nz-col nzSpan="2" nzType="defalut">Show Votes</button>
  </div>

  <nz-divider></nz-divider>

  <div>
    <nz-radio-group [(ngModel)]="SelectedPoints" [nzButtonStyle]="'solid'">
      <div nz-row nzType="flex">
        <label nz-radio-button nzValue="0">0 points</label>
        <label nz-radio-button nzValue="0.5">0.5 points</label>
        <label nz-radio-button nzValue="1">1 points</label>
        <label nz-radio-button nzValue="2">2 points</label>
      </div>
      <div nz-row nzType="flex">
        <label nz-radio-button nzValue="3">3 points</label>
        <label nz-radio-button nzValue="5">5 points</label>
        <label nz-radio-button nzValue="8">8 points</label>
        <label nz-radio-button nzValue="13">13 points</label>
      </div>
      <div nz-row nzType="flex">
        <label nz-radio-button nzValue="20">20 points</label>
        <label nz-radio-button nzValue="40">40 points</label>
        <label nz-radio-button nzValue="100">100 points</label>
        <label nz-radio-button nzValue="?">?</label>
      </div>
    </nz-radio-group>
  </div>

  <nz-divider></nz-divider>

  <div nz-row>
    <div nz-col nzSpan="15">
      <nz-table #voteResults [nzFrontPagination]="false" [nzData]="vote.Clients">
        <thead>
          <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Connection Id</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of voteResults.data">
            <td>{{client.UserName}}</td>
            <td>{{client.Vote}}</td>
            <td>{{client.ConnectionId}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
